; https://github.com/uiriansan/SilentSDDM

[SddmGreeterTheme]
Name=hyprland-sddm
Type=sddm-theme
Description=Wallpaper changing SDDM theme with blur animations and login controls
License=GPL-3.0-or-later
Version=1.5.0
Theme-Id=hyprland-sddm
Theme-API=2.0
MainScript=Main.qml
QtVersion=6

ConfigFile=configs/default.conf
