[SddmGreeterTheme]
Name=qylock-sword
Description=Custom minimal sword-inspired SDDM greeter theme
Author=Darkkal44 & Krish
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
